<br>
<div class="index-article">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th><i class="fas fa-tags"></i></th>
      <th><i class="fas fa-eye"></i>タグ</th>
      <th>いいね</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr id="article_<%= article.id %>">
        <%= render 'article', article: article %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<h3> PV数ランキング </h3>
<% @rank_articles.each do |t| %>
  PV数
  <%= t.impressions_count %>
<% end %>
<br>
<br>
<li><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>