<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div claass="top_explain">
          <h2>
            <strong>
            <br>
            Market Recordは投資に関する知識を記録・共有するためのサービスです。
            <br>
            <br>
            投資家の皆さんが銘柄選びや、決算書の読み方、売買タイミング、
            <br>
            <br>
            リスク管理まで投資に必要なノウハウを共有することができます。
            <br>
            <br>
            知識を共有し、自分の考えを整理することで、
            <br>
            <br>
            新しい発見や多くの人がより良い選択ができる、
            <br>
            <br>
            価値ある情報が集まるコミュニティを創出することが目的です。
            </strong>
          </h2>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">    
    <div class="col-md-12">
      <div class="">
      <strong>アカウントを作成する</strong>
      <a class="nav-link" href=""><%= link_to " アカウント作成 ", new_user_registration_path, class: "btn btn-primary" %></a>
      </div>
      <br>
      <div>
      <strong>ログインする</strong>
      <a class="nav-link" href=""><%= link_to " ログインする ", new_user_session_path, class: "btn btn-primary" %></a>
      </div>
      <br>
      <div>
      <strong>みんなの投稿を見る</strong>
      <a class="nav-link" href=""><%= link_to " 投稿を見る ", articles_path, class: "btn btn-primary" %></a>
      </div>
  </div>
</div>
<br>
