
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="">
            <strong>
            <br>
            Market Recordは投資に関する知識を記録・共有するためのサービスです。
            <br>
            投資家の皆さんが銘柄選びや、決算書の読み方、売買タイミング、
            <br>
            リスク管理まで投資に必要なノウハウを共有することができます。
            <br>
            知識を共有し、自分の考えを整理することで、
            <br>
            新しい発見や多くの人がより良い選択ができる、
            <br>
            価値ある情報が集まるコミュニティを創出することが目的です。
            </strong>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">    
    <div class="col-md-12">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text ">
              <strong>アカウントを作成する</strong>
            <a class="nav-link" href=""><%= link_to " アカウント作成 ", new_user_registration_path, class: "btn btn-primary", class: "link" %></a>
            </p>
            <hr>
            <p class="card-text ">
              <strong>ログインする</strong>
            <a class="nav-link" href=""><%= link_to " ログインする ", new_user_session_path, class: "btn btn-primary", class: "link" %></a>
            </p>
            <hr>
            <p class="card-text">
              <strong>みんなの投稿を見る</strong>
            <a class="nav-link" href=""><%= link_to " 投稿を見る ", articles_path, class: "btn btn-primary", class: "link" %></a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
