html{
  height:100%;
}

body {
  text-align: center;
  }    

header {
  height: 80px;
  width: 100%;
  background-color: #2B2B2B;
}
.left {
  float: left;
  font-size: large;
  padding: 30px 20px; 
}
.float_right{
  float:right;
}
.right{
  float: left;
  font-size: large;
  padding: 30px 40px; 
}
.clearfix ul {
  margin: 0px; 
}
header li {
  list-style: none;
  // padding: 30px 10px;  
  .link{
    color: white;
  }
}
main{
  padding: 80px;
}
.footer {
  height: 70px;
  width: 100%;
  background-color: #2B2B2B;
  margin: auto;
  color: white;
  position:absolute;
  bottom: 0;

}
footer p{
  font-size: 1rem;
  margin: 0%;
  padding-top: 25px; 
}

.size{
  font-size: 2em;
  color:white;
}